torchvision
torchinfo
torcheval
numpy==1.26.4
opencv-python==3.4.18.65
mujoco==3.2.0
dm_control==1.0.21.post1
gymnasium
shimmy==2.0.0
imageio
imageio-ffmpeg
Pillow
pyrallis==0.3.1
h5py==3.10.0
tqdm
stable_baselines3
sb3-contrib==2.4.0
vector-quantize-pytorch==1.22.16
wandb
pynvml


 
